<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>ನೋಂದಣಿ</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- other deps -->
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Main CSS-->
    <link href="css/main1.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Enter Problem Details</h2>
                </div>
                <div class="card-body">
                    <form action="addqs" method="POST">
                        <div class="form-row">
                            <div class="name">Problem Title</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" id="fname" type="text" name="title" placeholder="Enter an exciting title" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Details</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" id="fname" type="text" name="subdomain" placeholder="Arrays, conditional etc.."  required>
                                            <label class="label--desc" for="fname">Subdomain</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="score" placeholder="5,10, 15..." required>
                                            <label class="label--desc">Score</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Problem Description</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="input--style-5" rows="2" cols="60" type="text" name="description" placeholder="Explain problem in detail" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Solution</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="input--style-5" rows="2" cols="60" type="text" name="solution" placeholder="Enter expected output kannada pythonic code" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Test Cases (optional)</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="input--style-5" rows="2" cols="60" type="text" name="tc" placeholder="Enter test case inputs"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Test Cases Outputs (optional)</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="input--style-5" rows="2" cols="60" type="text" name="to" placeholder="Enter test case outputs"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Difficulty Level</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="difficulty" class="form-control" required>
                                            <option selected="selected">Easy</option>
                                            <option>Medium</option>
                                            <option>Hard</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->